.title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.items{
  text-align: -webkit-center;
  min-width: fit-content;
}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.problem-input {
  width: 80%;
}

.submit-button {
  text-align: left;
  padding-top: 5px;
}

.text-danger {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

.solve-button {
  width: 100px;
  border-radius: 20px;
  border: 2px solid #6b6565;
}

